/* @media(min-width:1400px){
    .agency-img {
        width: 40%;
        left: 3%;
    }
} */
@media(min-width:1400px){
    .logo-animation3 {
        position: absolute;
        top: 313px;
        left: 171px;
    }
    .shadow-img {
        left: 377px;
        position: absolute;
        bottom: 117px;
        z-index: -1;
    }
}

@media(min-width:1200px) and (max-width: 1399px){
    .image .img1 {
        width: 250px;
        height: 100%;
        box-shadow: 0 0 5px #ff3334, 0 0 20px #ff3334;
        transition: 0.5s all ease-in-out;
    }
    .logo-ani img {
        width: 85px;
        height: 85px;
    }
    .logo-animation1 {
        position: absolute;
        top: 72px;
        left: 33%;
    }
    .image .img2 {
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img {
        width: 100px;
        height: 100px;
    }
    .logo-animation2 {
        position: absolute;
        top: 216px;
        left: 35%;
    }
    .respon1{
        display: inline-block;
    }
    .features{
        margin: 6px 3px;
    }
    .c-image{
        margin-top: 40px;
        margin-bottom: 120px;
    }
    .shadow-img {
        display: block;
        top: 78%;
        left: 23%;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 37%;
    }
    .all-features {
        display: flex;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 40px;
    }
    .mobile-img img {
        width: 600px;
    }
    .mobile-img {
        position: absolute;
        right: 0;
        bottom: 50px;
    }
    .footer-part p{
        font-size: 16px;
        margin: 0;
        padding: 10px 0;
    }
    .footer-nav{
        margin-bottom: 0;
    }
    .footer-nav ul{
        display: flex; 
    }
    .footer-nav ul li{

        padding: 10px 0;
    }
}

@media(min-width:992px) and (max-width: 1199px){
    .image .img1 {
        width: 250px;
        height: 100%;
        box-shadow: 0 0 5px #ff3334, 0 0 20px #ff3334;
        transition: 0.5s all ease-in-out;
    }
    .logo-ani img {
        width: 85px;
        height: 85px;
    }
    .logo-animation1 {
        position: absolute;
        top: 72px;
        left: 33%;
    }
    .image .img2 {
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img {
        width: 100px;
        height: 100px;
    }
    .logo-animation2 {
        position: absolute;
        top: 194px;
        left: 33%;
    }
    .respon1{
        display: inline-block;
    }
    .features{
        margin: 6px 3px;
    }
    .c-image{
        margin-top: 40px;
        margin-bottom: 120px;
    }
    .shadow-img {
        display: none;
        top: 67%;
        left: 15%;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 39%;
        left: 35%;
    }
    .all-features {
        display: flex;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 40px;
    }
    .mobile-img img {
        width: 500px;
    }
    .mobile-img {
        position: absolute;
        right: 0;
        bottom: 50px;
    }
    .footer-part p{
        font-size: 16px;
        margin: 0;
        padding: 10px 0;
    }
    .footer-nav{
        margin-bottom: 0;
    }
    .footer-nav ul{
        display: flex; 
    }
    .footer-nav ul li{

        padding: 10px 0;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .image .img1 {
        width: 280px;
        height: 100%;
        box-shadow: 0 0 5px #ff3334, 0 0 20px #ff3334;
        transition: 0.5s all ease-in-out;
    }
    .logo-ani img {
        width: 85px;
        height: 85px;
    }
    .logo-animation1 {
        position: absolute;
        top: 58px;
        left: 30%;
    }
    .image .img2 {
        width: 320px;
        height: 405px;
    }
    .logo-ani2 img {
        width: 90px;
        height: 90px;
    }
    .logo-animation2 {
        position: absolute;
        top: 144px;
        left: 30%;
    }
    .respon1{
        display: flex;
    }
    .features{
        margin: 15px 5px;
    }
    .c-image{
        margin-top: 40px;
        margin-bottom: 120px;
    }
    .shadow-img {
        display: block;
        top: 67%;
        left: 15%;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 43%;
    }
    .all-features {
        display: flex;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 440px;
    }
    .mobile-img {
        position: absolute;
        right: 0;
        bottom: -400px;
    }
    .footer-part p{
        font-size: 16px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-nav ul{
        display: flex; 
        justify-content: center;
    }
    .footer-nav ul li{

        padding: 10px 0;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .logo-name{
        margin-left: 15px;
    }
    .hamburger span{
        width: 35px;
    }
    .banner-part{
        padding: 50px 0;
    }
    .template-part{
        padding: 50px 0;
    }
    .image{
        margin-bottom: 30px;
    }
    .image .img2{
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img{
        width: 110px;
        height: 110px;
      }
      .logo-animation2 {
        position: absolute;
        top: 37%;
        left: 32%;
    }
    .headphone{
        display: none;
    }
    .headphone-part{
        padding: 20px 10px 70px 10px;
        text-align: center;
    }
    .all-features{
        padding: 30px 0 20px 0;
    }
    .logo-ani3 img {
        height: 95px;
        width: 95px;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 42%;
    }
    .feature-part{
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 60%;
    }
    .mobile-img {
        right: 0;
        bottom: -450px;
    }
    .swiper-slide{
        padding: 40px;
    }
    .swiper-slide .title p{
        font-size: 16px;
    }
    
    .footer-part p{
        font-size: 14px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-nav ul{
        display: flex; 
        justify-content: center;
    }
    .footer-nav ul li{

        padding: 10px 0;
    }
    .respon1{
        display: flex;
    }
    .features{
        margin: 15px 5px;
    }
    .c-image{
        margin: 40px 0;
    }
    .shadow-img{
        display: none;
    }
}
@media(min-width: 0px) and (max-width: 575px){
    .logo-name{
        margin-left: 15px;
    }
    .hamburger span{
        width: 35px;
    }
    .banner-part{
        padding: 50px 0;
    }
    .template-part{
        padding: 50px 0;
    }
    .image{
        margin-bottom: 30px;
    }
    .image .img2{
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img{
        width: 110px;
        height: 110px;
      }
      .logo-animation2 {
        position: absolute;
        top: 37%;
        left: 32%;
    }
    .headphone{
        display: none;
    }
    .headphone-part{
        padding: 20px 10px 70px 10px;
        text-align: center;
    }
    .all-features{
        padding: 30px 0 20px 0;
    }
    .logo-ani3 img {
        height: 95px;
        width: 95px;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 42%;
    }
    .feature-part{
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 60%;
    }
    .mobile-img {
        right: 0;
        bottom: -323px;
    }
    .swiper-slide{
        padding: 40px;
    }
    .swiper-slide .title p{
        font-size: 16px;
    }
    
    .footer-part p{
        font-size: 14px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-nav ul{
        display: flex; 
        justify-content: center;
    }
    .footer-nav ul li{

        padding: 10px 0;
    }
    .respon1{
        display: flex;
    }
    .features{
        margin: 15px 5px;
    }
    .c-image{
        margin: 40px 0;
    }
    .shadow-img{
        display: none;
    }
}
@media(min-width: 0px) and (max-width: 425px){
    .logo-name{
        margin-left: 15px;
    }
    .hamburger span{
        width: 35px;
    }
    .banner-part{
        padding: 50px 0;
    }
    .template-part{
        padding: 50px 0;
    }
    .image{
        margin-bottom: 30px;
    }
    .image .img2{
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img{
        width: 110px;
        height: 110px;
      }
      .logo-animation2 {
        position: absolute;
        top: 37%;
        left: 32%;
    }
    .headphone{
        display: none;
    }
    .headphone-part{
        padding: 20px 10px 70px 10px;
        text-align: center;
    }
    .all-features{
        padding: 30px 0 20px 0;
    }
    .logo-ani3 img {
        height: 95px;
        width: 95px;
    }
    .img3 img{
        width: 320px;
        height: 100%;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 39%;
    }
    .feature-part{
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 50%;
    }
    .mobile-img{
        right: 0;
        bottom: -160px;
    }
    .swiper-slide{
        padding: 40px;
    }
    .swiper-slide .title p{
        font-size: 16px;
    }
    
    .footer-part p{
        font-size: 14px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-nav ul{
        display: block;
        text-align: center;
    }
    .footer-nav ul li{
        padding: 10px 0;
    }
    .respon1{
        display: inline-block;
    }
    .features{
        margin: 15px 5px;
    }
    .c-image{
        margin: 40px 0;
    }
    .shadow-img{
        display: none;
    }
}

@media(min-width: 0px) and (max-width:375px){
    .logo-name{
        margin-left: 15px;
    }
    .hamburger span{
        width: 35px;
    }
    .banner-part{
        padding: 50px 0;
    }
    .template-part{
        padding: 50px 0;
    }
    .image{
        margin-bottom: 30px;
    }
    .image .img2{
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img{
        width: 110px;
        height: 110px;
      }
      .logo-animation2 {
        position: absolute;
        top: 37%;
        left: 32%;
    }
    .headphone{
        display: none;
    }
    .headphone-part{
        padding: 20px 10px 70px 10px;
        text-align: center;
    }
    .all-features{
        padding: 30px 0 20px 0;
    }
    .logo-ani3 img {
        height: 95px;
        width: 95px;
    }
    .logo-animation3 {
        position: absolute;
        top: 40%;
        left: 38%;
    }
    .feature-part{
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 50%;
    }
    .mobile-img {
        right: 0;
        bottom: -177px;
    }
    .swiper-slide{
        padding: 40px;
    }
    .swiper-slide .title p{
        font-size: 16px;
    }
    
    .footer-part p{
        font-size: 14px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-nav ul{
        display: block;
        text-align: center;
    }
    .footer-nav ul li{
        padding: 10px 0;
    }
    .respon1{
        display: inline-block;
    }
    .features{
        margin: 15px 5px;
    }
    .shadow-img{
        display: none;
    }
}
@media(max-width:320px){
    .logo-name{
        margin-left: 15px;
    }
    .hamburger span{
        width: 35px;
    }
    .banner-part{
        padding: 50px 0;
    }
    .template-part{
        padding: 50px 0;
    }
    .image{
        margin-bottom: 30px;
    }
    .image .img2{
        width: 320px;
        height: 100%;
    }
    .logo-ani2 img{
        width: 110px;
        height: 110px;
      }
      .logo-animation2 {
        position: absolute;
        top: 37%;
        left: 32%;
    }
    .headphone{
        display: none;
    }
    .headphone-part{
        padding: 20px 10px 70px 10px;
        text-align: center;
    }
    .all-features{
        padding: 30px 0 20px 0;
    }
    .logo-ani3 img {
        height: 95px;
        width: 95px;
    }
    .logo-animation3 {
        position: absolute;
        top: 39%;
        left: 36%;
    }
    .feature-part{
        padding-bottom: 0;
    }
    .feature-part-2{
        margin-bottom: 50%;
    }
    .mobile-img{
        right: 0;
        bottom: -160px;
    }
    .swiper-slide{
        padding: 40px;
    }
    .swiper-slide .title p{
        font-size: 16px;
    }
    
    .footer-part p{
        font-size: 14px;
        text-align: center;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-nav ul{
        display: block;
        text-align: center;
    }
    .footer-nav ul li{
        padding: 10px 0;
    }
    .respon1{
        display: inline-block;
    }
    .features{
        margin: 15px 5px;
    }
    .shadow-img{
        display: none;
    }
}